._2C5xTtzSbldprRL969nkls {
  background: url('/static/ServicesBackground.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
._3So_jI1Ltk3h6D_-Gzmg-t {
  font-size: 42px;
  font-weight: bold;
  color: #0E0C38;
}
._19z8V_Pg9v5gM1_6TYV7HR {
  background-color: red;
  width: 120px;
  height: 5px;
  margin-top: 15px;
  border-radius: 20%;
}
.bYf0bEZJrC4S_gC9A7daa {
  color: #6E6E6E;
  margin-top: 50px;
  font-size: 18px;
}
.Cc3697Rw-Y2f7qDHmGejk {
  color: #6E6E6E;
  font-size: 18px;
}

